@import "../../styles/General-Styles.css";

#HomePageView-Container {
    height: 85%;

}
#jumbo-Container{
    display: inline-block;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 40px;
    max-width: 1280px;
    height: 50%;
}
.jumbotron{
    height: 100%;
    width: 100%;
    margin: 0;
}

#Jumbo-Image{
    display: inline-block;
    overflow: hidden;
    left: 50%;
    margin-top: -120px;
    background-position:center;
    margin-right: auto;
    background-size: cover;
    width: 100%;
}
