.App {
    text-align: center;
}

.App-logo {

    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

#container {
    position: relative;
    width: 340px;
    height: 352px;
    top: 50%;
    left: 50%;

    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
#lower {
    background: #ecf2f5;
    width: 100%;
    height: 95px;
    margin-top: 50px;
}
.login-container {

}
p a {
    font-size: 11px;
    color: #aaa;

    left: 50%;
    margin-top: -13px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

p a:hover {
    color: #555;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
}
input {
    max-width: 200px;
}
.form-signin input{
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#mainHeader {
    background-color: #c2011b;
    color: aliceblue;
}
